{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 mt-5">
        <div class="row h-100 text-center">
            <div class="col-12 mx-auto">
                <hr>
                <h4>
                    Sometimes all you need is someone to listen.
                </h4>
                <hr>
                <p>
                    After booking with our service you will be contacted by one of our volunteers to arrange a date and time to meet.
                </p>
                <p>
                    We are able to meet with service users on a multitude of popular communication platforms.
                </p>
                <p>
                    Your session will be one and a half hours.
                </p>
                <p>
                    Each session costs only £5.
                </p>
                {% if request.user.is_authenticated %}
                <p>
                    With your account you can access a record of your past bookings via <a href="{% url 'profile' %}">your profile</a> as well as having the ability to leave reviews for volunteers on the site.
                </p>
                {% else %}
                <p>
                    If you <a href="{% url 'account_signup' %}">sign up</a> with the site you can access a record of your past bookings as well as having the ability to leave reviews for volunteers on the site.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}