{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 text-center">
            <div class="col-12 mx-auto">
                <h1 class="m-5">
                    Volunteer listeners are available to lend an ear. 
                </h1>
                <h4 class="m-5">
                    <a href="" class="btn btn-primary">Book a Session</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}