{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <hr>
            <h2>Volunteers</h2>
            <hr>
        </div>

        <div class="col-md-5 col-lg-4"></div>

        <div class="col-md-4 col-lg-5">
            <hr class="d-none d-md-block">
            <form method="GET" action="{% url 'volunteers' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Find a Volunteer">
                    <div class="input-group-append">
                        <button class="form-control btn" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <hr>
        </div>

    </div>
    <div class="row col-10 offset-1">
        <div>
            <div class="row">
                {% for volunteer in volunteers %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                    <div class="card h-100 border">
                        {% if volunteer.image %}
                            <a href="{% url 'volunteer_detail' volunteer.id %}">
                                <img class="card-img-top img-fluid" src="{{ volunteer.image.url }}"
                                    alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                            </a>
                        {% else %}
                            <a href="{% url 'volunteer_detail' volunteer.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                            </a>
                        {% endif %}
                        
                        <div class="card-body pb-0">
                            <a href="{% url 'volunteer_detail' volunteer.id %}" class="volunteer-link">
                                <h3 class="mb-0">{{ volunteer.forename }} {{ volunteer.surname }}</h3>
                            </a>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if volunteer.description %}
                                        <p>{{ volunteer.description }}</p>
                                    {% else %}
                                        <small class="text-muted">No Description</small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="{% url 'edit_volunteer' volunteer.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_volunteer' volunteer.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}