{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h2>Volunteers</h2>
            <hr>
        </div>

        <div class="col">
            <form method="GET" action="{% url 'volunteers' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Find a Volunteer">
                    <div class="input-group-append">
                        <button class="form-control btn" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div>
            <div class="row">
                {% for volunteer in volunteers %}
                <div class="col">
                    <div class="card h-100 border-0">
                        {% if volunteer.image %}
                            <a href="{% url 'volunteer_detail' volunteer.id %}">
                                <img class="card-img-top img-fluid" src="{{ volunteer.image.url }}"
                                    alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                            </a>
                        {% else %}
                            <a href="#">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                            </a>
                        {% endif %}
                        
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ volunteer.forename }} {{ volunteer.surname }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if volunteer.description %}
                                        <p>{{ volunteer.description }}</p>
                                    {% else %}
                                        <small class="text-muted">No Description</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}