{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6 mx-auto">
            <hr>
            <h2>{{ volunteer.forename }} {{ volunteer.surname }}</h2>
            <hr>
        </div>
        
    </div>

    <div class="row">

        <div class="col-8 col-sm-6 col-lg-4 col-xl-3 col-xxl-2 mx-auto">
            <div class="card h-100 border">
                {% if volunteer.image %}
                        <img class="card-img-top img-fluid" src="{{ volunteer.image.url }}"
                            alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                            alt="{{ volunteer.forename }} {{ volunteer.surname }}">
                {% endif %}
            </div>
        </div>

        <div class="col-sm-4 mx-auto text-center pt-5">
            {% if volunteer.description %}
              <p>{{ volunteer.description }}</p>
            {% else %}
               <small class="text-muted">No Description</small>
            {% endif %}
        </div>

    </div>

    {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <hr>
                <small>
                    <a href="{% url 'edit_volunteer' volunteer.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_volunteer' volunteer.id %}">Delete</a>
                </small>
                <hr>
            </div>
        </div>
    {% endif %}

        <h3 class="pt-3">Reviews</h3>
        <div class="row">
            {% if reviews %}
                {% for review in reviews %}
                        {% if request.user.is_superuser %}
                            <div class="col-8 border rounded m-1 p-1">{{ review.review_text }}</div>
                            <div class="col border rounded m-1 p-1 text-right">
                                    {% if not review.approved %}
                                        <a href="../../admin/reviews/review/{{ review.id }}/change">Requires Admin Approval</a>
                                    {% else %}
                                        Review Approved
                                    {% endif %}
                                </div>
                        {% else %}
                            {% if review.approved %}
                            <div class="col-11 border rounded mx-auto mb-4 p-2">{{ review.review_text }}</div>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-11 border rounded mx-auto mb-4 p-2">None have been added yet. Would you like to write a review for {{ volunteer.forename }}?</div>
            {% endif %}
            {% if reviews and not approved_reviews %}
                <div class="col-11 border rounded mx-auto mb-4 p-2">All reviews for {{ volunteer.forename }} are currently pending admin approval before appearing. Would you like to add another?</div>
            {% endif %}
        </div>

    {% if request.user.is_authenticated %}
        <form action="{% url 'add_review' volunteer.id %}" method="POST" id="review-form">
            {% csrf_token %}
            <fieldset>
                <legend>Add a Review</legend>
                {{ review_form | crispy }}
            </fieldset>
            <div class="d-flex flex-row-reverse">
                    <input type="submit" class="btn btn-primary" value="Post Review">
            </div>
            <div class="d-flex flex-row-reverse">
                <small class="light-accent">Your review won't appear until it has been approved.</small>
        </div>
        </form>
    {% endif %}


</div>
{% endblock %}