/* -------------------------------- Fixing the Country Field to Match Others */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}


/* -------------------------------- Bookings History */
/* Shortening it down in case there's a long booking history*/
.order-history {
    max-height: 416px; /* roughly the same hight as the form on the page */
    overflow-y: auto;
}