html {
    height: 100%;
}

.header-container {
    padding-top: 100px;
}

h1, h2{
    color: green;
}


/* -------------------------------- Toasts */
.message-container {
    position: fixed;
    right: 20px;
    top: 70px;
    z-index: 99999999999;
}

/* -------------------------------- Media Queries */

/* Add space push content down clearing the header */
@media (min-width: 992px) {
    .header-container {
        padding-top: 200px;
    }
}